/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #f0f2f5;
}

/* APP LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 370px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.sidebar-header {
  padding: 20px;
  background: #516a67;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.logo-circle img, .logo-circle-chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-circle-chat{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

/* CURRENT USER */
.current-user {
  padding: 12px 20px;
  background: #ededed;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

/* SEARCH */
.search-box {
  padding: 10px;
}

.search-box input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

/* USERS LIST */
.users-list {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}

.users-list li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.users-list li:hover {
  background: #f5f5f5;
}

.users-list li.active {
  background: #dcf8c6;
}

/* USER AVATAR */
.user-avatar {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: #25d366;
  border-radius: 50%;
  border: 2px solid white;
}

/* CHAT AREA */
.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: url("../assets/backgroudChat.jpg") center / cover no-repeat;
}

/* CHAT HEADER */
.chat-header {
  padding: 15px;
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* CHAT BOX */
.chat-box {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* MESSAGE */
.message {
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
}

.message.me {
  background: #dcf8c6;
  margin-left: auto;
}

/* INPUT */
.chat-input {
  padding: 10px;
  background: #f0f0f0;
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background: #25d366;
  color: white;
  cursor: pointer;
}


/* FOOTER */
.sidebar-footer {
  padding: 12px;
  border-top: 1px solid #ddd;
  background: #f8f9fa;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #dc3545;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logout-btn:hover {
  background: #bb2d3b;
}
